<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Pedidos</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No.Pedido</th>
          <th>Fecha Recibido</th>
          <th>Producto</th>
          <th>Descripcion</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos | async">
          <td>{{pedido.id}}</td>
          <td>{{pedido.fechaEnvio}}</td>
          <td>{{pedido.producto}}</td>
          <td>{{pedido.descripcion}}</td>
          <td>{{pedido.cantidad}}</td>
          <td><button (click)="deletePedido(pedido.id)" class="btn btn-danger">Delete</button>
              <button (click)="updatePedido(pedido.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
