<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Repuestos</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Password</th>
            <th>URL</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of repuestos | async">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.password}}</td>
            <td>{{employee.ruta}}</td>
            
            <td><button (click)="deleteRepuesto(employee.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateRepuesto(employee.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
